<h1>Edit Your Profile!</h1>
<%= form_for current_user, url: profile_path, :html => {:multipart => true} do |f| %>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.label :bio %></p>
    <p><%= f.text_field :bio %></p>
    <p><%= f.file_field :pic %></p>
    <p><%= f.hidden_field :pic_cache %></p>
    <p><%= f.submit %></p>
<% end %>