
<h1><%= @event.title %></h1>
<p><%= @event.date.strftime("%B %d, %Y") %></p>
<p><%= @event.time.strftime("%I:%M %P") %></p>
<p><%= @event.location %></p>
<h3> <%= button_to "RSVP", rsvps_path(event_id: @event.id), method: :post, class:"btn btn-primary" %></h3>
<p><%= @event.description %>

<%= button_to "Add An Event", new_event_path, method: :get %></a></p>

<h6><%= link_to "Back to Event's Calendar", rsvps_path, method: :get  %></h6>
</div>
